.search 
    &__form 
        display: flex 
        background: #fff
        border-bottom : solid 1px #ebebeb

        input
            border: none

            &::placeholder
                font-family Montserrat
                font-size 14px
                font-weight normal
                font-stretch normal
                line-height normal
                letter-spacing normal
                color #211915

    &__input 
        flex: 1 
        min-width: 0 
        background: transparent

    &__button 
        flex: 0 0 auto
        min-width: 45px
        font-size: 0
        background: transparent

        svg
            width 17px
            height 17px
            fill: color

        &-label 
            display: none 
