{% set class = '' %}
{% if modifier %}{% set class = " customer--" ~ modifier %}{% endif %}
<div class="customer{{ class }}">
    <div class="customer__container">
        <div class="customer__header">
            <a class="customer__link customer__link--icon" href="{{ links.central }}" data-tray-tst="meu_cadastro" alt="Pedidos" title="Pedidos">
                <span class="customer__icon">
                    {% if pages.current == 'catalog' %}
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" class="customer__icon--svg" viewBox="0 0 100 100" x="0px" y="0px"><title>collection 1</title><path d="M50,5a45,45,0,1,0,0,90,44.49962,44.49962,0,0,0,28.21143-9.94287,45.48636,45.48636,0,0,0,5.05566-4.75586A44.99841,44.99841,0,0,0,50,5ZM80.67255,74.07111C78.27576,64.15717,65.45471,56.58,50,56.58c-15.4646,0-28.27917,7.57806-30.67328,17.49292a39.00109,39.00109,0,1,1,61.34583-.00183Z"/><circle cx="49.99898" cy="35.37935" r="14.62062" transform="translate(-6.791 12.43387) rotate(-13.28255)"/></svg>
                    {% else %}
                        <img src="{{ asset('img/user.png') }}" alt="">
                    {% endif %}
                </span>
                {% if pages.current == 'catalog' %}
                    <span class="customer__title">Minha conta <i class="arrow-down"></i></span>
                {% endif %}
            </a>
        </div>
        <div class="customer__main">
            <div class="tray-hide" data-logged-user="true">
                <div class="customer__label">
                    <span data-customer="name"></span>
                </div>
                <div class="customer__links">
                    <a href="{{ links.orders }}" data-tray-tst="meus_pedidos">{{ Translation('meus_pedidos') }}</a>
                    / <a href="{{ links.logout }}" data-tray-tst="logout">{{ Translation('sair') }}</a>
                </div>
                <div class="customer__links">
                    <a href="{{ links.orders }}" data-tray-tst="meus_pedidos">Rastrear pedido</a>
                </div>
            </div>
            <div class="tray-hide" data-logged-user="false">
                <div class="customer__label">
                    <a href="{{ links.login }}" data-tray-tst="login" class="{{ utils.is_https ? 'modal-login' }}">{{ Translation('login') }}</a> 
                    <a href="{{ links.register }}" data-tray-tst="cadastro">{{ Translation('cadastre_se') }}</a>
                </div>
                <div class="customer__links">
                    <a href="{{ links.orders }}" data-tray-tst="meus_pedidos">{{ Translation('meus_pedidos') }}</a>
                </div>

                <div class="customer__links">
                    <a href="{{ links.orders }}" data-tray-tst="meus_pedidos">Rastrear pedido</a>
                </div>
            </div>
        </div>
    </div>
</div>