.page-home 
    &__banner 
        
        &-item 
            padding: 10px (30px / 2)

    &__content--2
        margin-bottom: 50px

@media mobile 
    .page-home 
        &__banner
            &-list 
                display: flex 
                flex-wrap: wrap
 
            &-item
                flex: 0 0 100%
    
@media desktop 
   .page-home 
        &__banner
            &-list 
                display: flex 
                margin: "0 %s" % -(30px / 2)