.attendance 
    &__link
        @media screen and (max-width: 992px)
            justify-content: center
            text-align: center
            display: flex
            flex-direction: column
            align-items: center
        &, & h2
            font-size: 12px;
            color: #211915;
            letter-spacing: 0;
    &__desc
        font-family Montserrat
        font-size 16px
        font-weight normal
        font-stretch normal
        font-style normal
        line-height normal
        letter-spacing normal
        color #211915
        margin-right 30px
    &__header 
        display: flex
        align-items: center
        
     &__icon 
        display: flex
        align-items: center
        margin: 0px 4px
        &--catalog
            & path
                fill #ff8484
        svg
            width 30px
            height 30px
            color: color

    &__title 
        font-size 14px
        font-weight normal
        line-height normal
        letter-spacing 0.19px
        color #878787

    &__content 
        display: flex 
        justify-content: center 
        align-items: flex-start 
        flex-flow: column nowrap

    &__phone, &__whatsapp
        display flex
        align-items: center
        color: #211915
        margin-bottom: 10px
        @media screen and (max-width: 992px)
            justify-content: flex-start
            flex-direction: row;
            text-align: left;
        svg
            margin-right: 5px

        &--title
            display block
            font-size: 14px
            font-weight: 400
            line-height: normal
          

        &--span
            display: block
            font-size: 16px

        &:hover
            color: color

            svg
                fill: color

    &__support
        font-size 11px
        font-weight normal
        line-height normal
        color #222222
        @media screen and (max-width: 992px)
            justify-content: center
            text-align: left
    &__email
        display: block
        font-size 11px
        font-weight normal
        line-height normal
        color #222222
        margin-bottom 8px
        @media screen and (max-width: 992px)
            justify-content: center
            text-align: left
.attendance
    &--header

        .attendance
            &__main
                position absolute
                top: 100%
                background: #fff
                box-shadow 0 0 0 1px #bcbbba 
                border-radius: 10px
                padding: (gutter)
                left 50%
                transform: translateX(-50%)
                opacity 0
                visibility hidden
                z-index 1

            &__span
                display: block
                font-size 14px
                font-weight normal
                line-height normal
                color #222222
.header__attendance      
    @media screen and (max-width: 992px)
        & .attendance__email,
        & .attendance__support
            text-align: left
            justify-content: flex-start
            & h2
                margin-right: auto
        & .socials__list
            justify-content: flex-start

.attendance
    &--footer
        
        .attendance
            &__header,
            &__span
                display: none

        .socials--header
            display: none
            

         

