.rulers  
    background: #009fd2
    
    &__container
        @extend $container

    &__list
        display: flex
        align-items: center
        justify-content: flex-start
        height 48px

        @media screen and (max-width: 420px)
            & > div
                &, & > div
                    height 100%

        @media screen and (min-width: 993px)
            display: flex !important
            & .slick-track
                display: flex
        & button
            @media screen and (max-width: 420px)
                width: 25px
                height 25px
                background-size: auto 15px
            &[class*=prev]
                transform rotate(180deg) translateY(50%)

        &:not(.slick-slider)
            display: flex 
            justify-content: space-between
            align-items: stretch
            flex-flow: row nowrap
            overflow hidden
            
            @media mobile 
                .rulers__item
                    flex: 0 0 100%


    &__box
        display: flex 
        justify-content: center
        align-items: center 
        padding: 5px 10px 
        text-align: left

    &__item
        flex: 1 
        min-width 0px
        @media screen and (max-width: 420px)
            height 100%
            display: flex !important
            justify-content: center
            align-items: center
    &__icon
        display flex
        align-items center
        margin-right 10px
        svg
            fill: #fff
            width initial
            height initial

    &__title
        &, & strong, & a 
            font-family Montserrat
            font-size 14px
            font-weight 400
            font-stretch normal
            font-style normal
            line-height normal
            letter-spacing normal
            color #ffffff


